html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    color: #363636;
}


#particles-js {
  
    height: 100vh;
    background: #e6e6e6;
    display: flex;

}

#second {
    height: 30vh;
    width: 100vw;
    background: rgb(51, 51, 51);
    position: absolute;

}

.hello {
    position: absolute;
    margin-top: 20%;
    width: 40%;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding: 0;

}
nav {
    position: absolute;
    float: right;
    right: 7%;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
}
nav ul {

    list-style: none;
}

nav li {
    margin-left: 50px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #363636;
    font-size: 17px;
    overflow: hidden;
    transition: 0.25s all;
}

nav a:hover {
    font-size: 17.1px;
    color: #000000;
    transition: 0.25s all;
    border-bottom: 1px solid #000000;
}

p {

    margin-left: 5px;
}

h1 {
    font-size: 85px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}
/*
.contact {
    position: absolute;
    color: #b3b3b3;
    padding: 0;
    margin-left: 7%;
    padding-top: 20px;
}

h3 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

footer ul {
    list-style-type: none;
    text-align: left;
}
footer li a {
    text-decoration: none;
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 100;
}
*/